*{
    font-family: Snell Roundhand, cursive;
    background-color: #e4dfc1;
}
.cheetContainer {
    height: 1.5rem;
    width: 1.5rem;
    color: #e4dfc1;
    background-color: #e4dfc1;
}
.cheetContainer:hover{
    color: black;
}
.maindiv{
    height: 35rem;
    width: 35rem;
    background-color: #A76F6F;
    border: 4px black solid;
    border-radius: 4rem;
    margin: auto;
}
.responcediv{
    height: 70px;
    width: 100%;
    background-color: #A76F6F;
    
}
.gameheading{
    text-align: center;
    margin-top: 3rem;
    background-color: #A76F6F;
    font-family: Snell Roundhand, cursive;
}
.text,.responce,.countattempt,#count,#wins,#loses,#level{
    text-align: center;
    font-size: 25px;
    background-color: #A76F6F;
}
#GuessedNumber{
    height: 2rem;
    width: 17rem;
    border-radius: 10px;
}
#submit{
    height: 2.3rem;
    width: 6rem;
    background-color: greenyellow;
    border-radius: 10px;
    font-size: large;
    display: inline;
}
.inputs{
    position: relative;
    left: 80px;
    background-color: #A76F6F;
    display: inline;
    
}
.info{
    display: flex;
}
.wl{
height: 70px;
width: 400px;
background-color: #A76F6F;
}
.wl > p, #levels{
font-size: 25px;
background-color: #A76F6F;
}